@use "../custom" as *;

/** OFERTA SEMANAL **/

.card-semanal {
  border: 3px solid $azul;
  border-bottom-right-radius: 3rem;
  background-color: $negro;
}

.tagline-semanal {
  font-family: $fuente1;
  font-size: 4.5rem;
  color: $amarillo;
  margin-bottom: 0;
  margin-top: 1rem;
}
.producto-semanal {
  color: $verdecata;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.descripcion-semanal {
  color: $amarillo;
  font-family: $fuente2;
}
.precio-semanal {
  font-family: $fuente1;
  font-size: 4rem;
  color: $verdecata;
  margin: 0;
  letter-spacing: 2.5px;
}

.precio-semanal::first-letter {
  color: var(--verdeagua);
  font-size: $separacion;
}
.imagen-semanal {
  border: 3px solid $azul;
  border-top-left-radius: 3rem;
  padding: 1rem;
}
