//Paleta

$blanco: #fff;
$negro: #000000;
$gris: #eceeef;
$rojo: #ff0303;
$amarillo: #edff49;
$verdeagua: #33ff80;
$verdecata: #33ff00;
$naranja: #ebaf09;
$azul: #0033ff;
$violeta: #8a2be2;
$rosa: #ff1493;

// Reescribir Variables de Bootstrap

$headings-font-weight: 700;
$font-size-root: 62.5%;
$h1-font-size: 3.8rem;

// Asignar paleta de colores a BS
$secondary: $verdeagua;
$dark: $negro;
$primary: $azul;
$danger: $rojo;
$warning: $amarillo;

//fuente
$fuente1: "Luckiest Guy", cursive;
$fuente2: "Mali", cursive;

//Media Queries
$telefono: 486px;
$tablet: 768px;
$desktop: 1024px;

//utilidades

$separacion: 5rem;

// Globales

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: $fuente1;
}
h1 {
  color: $azul;
  text-transform: uppercase;
}

.offcanvas-header {
  background-color: $gris;
}
.offcanvas-title {
  font-size: 4rem;
  color: $verdecata;
}

// Importar Boostrap

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
